<div class="row">
  <div class="col m-3">
    <h3><mark>会員情報編集</mark></h3>
    <%= form_with model: @customer, url: customers_mypage_update_path, local: true do |f| %>
      <table class="table table-borderless table table-sm">
        <tr class="form-group">
        	<td><label for="name">氏名</label></td>
        	<td><%= f.text_field :last_name %> <%= f.text_field :first_name %></td>
        </tr>
        <tr class="form-group">
        	<td><label for="name_kana">フリガナ</label></td>
        	<td><%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kana %></td>
        </tr>
        <tr class="form-group">
        	<td><label for="post_code">郵便番号</label></td>
        	<td><%= f.text_field :post_code %></td>
        </tr>
        <tr class="form-group">
        	<td><label for="address">住所</label></td>
        	<td><%= f.text_field :address, :size=>"72" %></td>
        </tr>
        <tr class="form-group">
        	<td><label for="phone_number">電話番号</label></td>
        	<td><%= f.text_field :phone_number %></td>
        </tr>
        <tr class="form-group">
        	<td><label for="email">メールアドレス</label></td>
        	<td><%= f.text_field :email %></td>
        </tr>
        <tr class="form-group">
        	<td></td>
        	<td><%= f.submit "編集内容を保存", class: "btn register_button motion" %>
        	    <%= link_to "退会する", customers_unsubscribe_path, class: "btn move_button motion" %>
        	</td>
        </tr>
      </table>
    <% end %>
  </div>
</div>