<div class="row">
  <div class="col m-3">
    <h3><mark>商品新規登録</mark></h3>
  </div>
</div>
<div class="row">
  <div class="mx-auto">
    <%= form_with model: @item, url: admin_items_path, local: true do |f| %>
    <table class="table table-borderless">
      <tr>
        <th>商品画像</th>
        <td><%= f.attachment_field :image %></td>
			</tr>
			<tr>
        <th>商品名</th>
        <td><%= f.text_field :name, placeholder: "商品名" %></td>
			</tr>
			<tr>
        <th>商品説明</th>
        <td><%= f.text_area :description, placeholder: "ここに説明文を記述します" %></td>
			</tr>
			<tr>
        <th>ジャンル</th>
        <td><%= f.collection_select :genre_id, @genres, :id, :name, { prompt: "選択してください" } %></td>
			</tr>
			<tr>
        <th>税抜価格</th>
        <td><%= f.text_field :price, placeholder: "1000" %>円</td>
			</tr>
      <tr>
        <th>販売ステータス</th>
        <td>
          <%= f.radio_button :is_active, true %>
          <%= f.label :is_active, "販売中" %>
          <%= f.radio_button :is_active, false %>
          <%= f.label :is_active, "販売停止中" %>
        </td>
			</tr>
			<tr>
        <th></th>
        <td><%= f.submit "新規登録", class: "btn register_button motion" %></td>
      </tr>
    </table>
    <% end %>
  </div>
</div>