<div class="row">
  <div class="col m-3">
    <h3><mark>配送先編集</mark></h3>
    <div class="mt-5">
      <%= form_with model:@shipping,local:true do |f| %>
      <table>
        <tr>
          <td><%= f.label:"郵便番号（ハイフンなし）" %></td>
          <td><%= f.number_field:post_code %></td>
        </tr>
        <tr>
          <td><%= f.label:"住所" %></td>
          <td><%= f.text_field:address,:size=>"50" %></td>
        </tr>
        <tr>
          <td><%= f.label:"宛名" %></td>
          <td><%= f.text_field:name %></td>
          <td><%= f.submit "変更内容を保存",class:"btn register_button motion" %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>