<div class='row'>
  <div class="mx-auto">
    <p>ようこそ、ながのCAKEへ!<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。
    </p>
  </div>
</div>
<div class='row'>
  <div class="mx-auto">
    <h1>新着商品</h1>
      <table>
        <tr>
          <% @items.each do |item| %>
          <td>
            <%= link_to item_path(item) do %>
              <%= attachment_image_tag(item, :image, size: '100x100') %><br>
              <%= item.name %><br>
            <% end %>
            ¥<%= (item.price * 1.1).round.to_s(:delimited) %>(税込)
          </td>
         <% end %>
        </tr>
      </table>
    </div>
  </div>
<div class="text-right">
  <%=link_to "全ての商品を見る>" ,items_path %>
</div>