<div class='container'>
  <div class='row'>
    <div class="mx-auto">
      <h2>ログイン</h2>
      会員の方はこちらからログイン
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="field">
          <%= f.label :password, "パスワード" %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
        <div class="actions">
          <%= f.submit "ログイン" ,class:"btn btn-primary"%>
        </div>
      <% end %>
      会員登録がお済みでない方
      <%= link_to "こちら",new_customer_registration_path %>から新規登録してください。
    </div>
  </div>
</div>
