  <div class='row'>
    <div class="col m-3">
      <h3><mark>ログイン</mark></h3>
      <h5 class="m-3 p-3"><mark>会員の方はこちらからログイン</mark></h5>
      
      <div class="m-4 pb-4">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table class="table table-borderless table table-sm">
        <tr>
          <td><%= f.label :email, "メールアドレス" %></td>
          <td><%= f.email_field :email, :size=>"50", autofocus: true, autocomplete: "email" %></td>
        </tr>
        <tr>
          <td><%= f.label :password, "パスワード" %></td>
          <td><%= f.password_field :password, :size=>"50", autocomplete: "current-password" %></td>
        </tr>
        <tr>
          <td></td>
          <td colspan="2">
            <%= f.submit "ログイン" ,class:"move_button motion" %>
          </td>
        </tr>
      </table>
          
      <% end %>
      </div>
        <h5 class="m-3 p-3"><mark>会員登録がお済みでない方</mark></h5>
      <%= link_to "こちら",new_customer_registration_path,class:"ml-5 pl-5" %>から新規登録してください。
    </div>
  </div>