<div class="row">
  <div class="col m-3">
    <h3><mark><%= @customer.full_name %>さんの会員情報編集</mark></h3>
  </div>
</div>
<div class="row">
  <div class="offset-md-1 col-md-10 offset-md-1">
  <%= form_with model:@customer, url: admin_customer_path(@customer), local:true do |f|%>
    <table class="table table-borderless">
      <tr>
        <th>会員ID</th>
        <td><%= @customer.id %></td>
      </tr>
      <tr>
        <th>氏名</th>
        <td>
          <%= f.text_field :last_name %>
          <%= f.text_field :first_name %>
        </td>
      </tr>
      <tr>
        <th>フリガナ</th>
        <td>
          <%= f.text_field :last_name_kana %>
          <%= f.text_field :first_name_kana %>
        </td>
      </tr>
      <tr>
        <th>郵便番号</th>
        <td><%= f.text_field :post_code %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= f.text_field :address, size: "60" %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= f.text_field :phone_number %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= f.text_field :email %></td>
      </tr>
      <tr>
        <th>会員ステータス</th>
        <td>
          <%= f.radio_button :is_quited, false %>
          <%= f.label :is_quited, "有効" %>
          <%= f.radio_button :is_quited, true %>
          <%= f.label :is_quited, "退会" %>
        </td>
      </tr>
      <tr>
        <th></th>
        <td><%= f.submit "変更を保存", class: "btn register_button motion" %></td>
      </tr>
    </table>
  <% end %>
  </div>
</div>