<div class="row">
  <div class="col m-3">
    <h3><mark>注文履歴詳細</mark></h3>
    <div class="row">
      <div class="col-md-8">
        <table class="table table-borderless">
          <tr>
            <th>購入者</th>
            <td>
              <%= link_to admin_customer_path(@order.customer.id), class: "link" do %>
              <%= @order.customer.last_name %><%= @order.customer.first_name %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>注文日</th>
            <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
          </tr>
          <tr>
            <th>配送先</th>
            <td>〒<%= @order.post_code %><%= @order.address %><br><%= @order.name %></td>
          </tr>
          <tr>
            <th>支払方法</th>
            <td><%= @order.payment_method_i18n %></td>
          </tr>
          <tr>
            <th>注文ステータス</th>
            <td>
              <%= form_with url: admin_order_path(@order), model:@order, method: :patch, local:true do |f| %>
                <%= f.select :ordering_status, Order.ordering_statuses_i18n.invert, {}, {class: "mr-5",required: true} %>
                <%= f.submit "更新", class: "btn register_button motion" %>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <table class="table table-hover table-inverse">
          <thead class="table-color">
            <tr>
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
              <th>制作ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @order_items.each do |order_item| %>
              <tr>
                <td><%= order_item.item.name %></td>
                <td><%= order_item.item.add_tax_price.to_s(:delimited) %></td>
                <td><%= order_item.amount %></td>
                <td><%= order_item.sum_of_item_price.to_s(:delimited) %></td>
                <td>
                  <%= form_with url: admin_order_item_path(order_item), model:order_item, method: :patch, local:true do |s| %>
                    <%= s.select :making_status, OrderItem.making_statuses_i18n.invert, {}, {class: "mr-5",required: true} %>
                    <%= s.submit "更新", class: "btn register_button motion" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="offset-md-1">
        <table class="table table-borderless">
          <tr>
            <th class="table-color">商品合計</th>
            <td><%= @total_price_except_fee.to_s(:delimited) %>円</td>
          </tr>
          <tr>
            <th class="table-color">送料</th>
            <td><%= @order.shipping_fee.to_s(:delimited) %>円</td>
          </tr>
          <tr>
            <th class="table-color">請求金額合計</th>
            <td><%= @order.total_price.to_s(:delimited) %>円</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>