<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="d-flex flex-column vh-100">
    <header class="mb-5">
      <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
        <div class="container">
          <a class="navbar-brand" href="/"><%= image_tag("provisional_logo.png", :size => '60x60') %></a>
          <button class="navbar-toggler"type="button" data-toggle="collapse"data-target="#navbarSupportedContent"aria-controls="navbarSupportedContent"aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <% if customer_signed_in? %>
                <li class="nav-item  pt-2 text-white">ようこそ、<%= current_customer.last_name %>さん！</li>
                <li class="nav-item  ml-4"><%= link_to "マイページ",customers_mypage_path,class:"nav-link text-white" %></li>
                <li class="nav-item  ml-4"><%= link_to "商品一覧",items_path,class:"nav-link text-white" %></li>
                <li class="nav-item  ml-4"><%= link_to "カート",cart_items_path,class:"nav-link text-white" %></li>
                <li class="nav-item  ml-4"><%= link_to "ログアウト",destroy_customer_session_path,method: :delete,class:"nav-link text-white" %></li>
              <% elsif admin_signed_in? %>
                <li class="nav-item "><%= link_to "商品一覧",admin_items_path,class:"nav-link text-white" %></li>
                <li class="nav-item  ml-4"><%= link_to "会員一覧",admin_customers_path,class:"nav-link text-white" %></li>
                <li class="nav-item  ml-4"><%= link_to "注文履歴一覧",admin_root_path,class:"nav-link text-white" %></li>
                <li class="nav-item  ml-4"><%= link_to "ジャンル一覧",admin_genres_path,class:"nav-link text-white" %></li>
                <li class="nav-item  ml-4"><%= link_to "ログアウト",destroy_admin_session_path,method: :delete,class:"nav-link text-white" %></li>
              <% else %>
                <li class="nav-item "><%= link_to "About",about_path,class:"nav-link text-white" %></li>
                <li class="nav-item  ml-4"><%= link_to "商品一覧",items_path,class:"nav-link text-white" %></li>
                <li class="nav-item  ml-4"><%= link_to "新規登録",new_customer_registration_path,class:"nav-link text-white" %></li>
                <li class="nav-item  ml-4"><%= link_to "ログイン",new_customer_session_path,class:"nav-link text-white" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="mb-auto">
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <footer class="py-3">
      <div class="container text-center text-white">
      <p>© Copyright 2021 <em>NAGANO CAKE</em> All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
